* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif */

.header {
    padding-top: 15px;
    background-color: #0c1c11;
    color: white;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    margin-left: 15px;
}

.header ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a { 
    color: white;
    text-decoration: none;
}

.outer-container {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 40px;
    background-color: #568563;
  }
  
  .box1{
    height: 400px;
    width: 500px;
    margin-left: 600px;
    margin-bottom: 120px;
    margin-top: 600px;
  }

.box2{
    height: 200px;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 133px;
  }

  .box3 {
    height: 200px;
    width: 300px;
    margin-left: 1523px;
    margin-bottom: 200px;
  }

  img:hover {
    transform: scale(0.95);
  }

  .img {
    height: 200px;
    width: 300px;   
    border: solid;
    border-color: #0c1c11;
    border-width: 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .img1 {
    height: 500px;
    width: 700px;
    border: solid;
    border-color: #0c1c11;
    border-width: 10px;
  }

  .pfpimg {
    height:200px;
    width: 200px;
    border-radius: 50%;
    border: solid;
    border-color: #0c1c11;
    border-width: 10px;
  }

  .pfp {
    height: 200px;
    width: 200px;
    margin-left: 194px;
    margin-bottom: 75px;
    margin-top: -1796px;
    border-radius: 50%;
  }

  .aboutme {
    height: 250px;
    width: 450px;
    margin-left: 64px;
    margin-top: -1542px;
    font-weight: bold;
  }

