.outer-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 40px;
    background-color: #568563;
  }
  
.box1 , .box2 , .box3 {
    background-color: #363333;
    height: 200px;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  
  .img {
    height: 200px;
    width: 300px;
  }

  .pfpimg {
    height:200px;
    width: 200px;
    border-radius: 50%;
  }

  .pfp {
    height: 200px;
    width: 200px;
    background-color: #363333;
    margin-left: 750px;
    margin-bottom: 75px;
    margin-top: -865px;
    border-radius: 50%;
  }

  .aboutme {
    background-color: #568563;
    height: 600px;
    width: 450px;
    margin-left: 750px;
    margin-top: -685px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
