.outer-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 40px;
    background-color: #568563;
  }
  
.box1 , .box2 , .box3 {
    background-color: #363333;
    height: 200px;
    width: 300px;

    margin-left: 50px;
    margin-bottom: 50px;
  }
  
  
